<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Trang danh sách công việc được giao</title>
    <!-- Latest compiled and minified CSS -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
    />
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="d-flex flex-column min-vh-100 bg-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-warning">
    <div class="container-fluid">
        <a class="navbar-brand" style="color: black" th:href="@{/staff/workAssignList}">
            <h1 class="mb-0">Maintenance System</h1>
        </a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a
                            class="nav-link mx-2 dropdown-toggle text-dark"
                            href="#"
                            id="navbarDropdownMenuLink"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                    >Tài khoản của bạn
                    </a>
                    <ul
                            class="dropdown-menu"
                            aria-labelledby="navbarDropdownMenuLink"
                    >
                        <li>
                            <a
                                    class="dropdown-item text-dark"
                                    th:href="@{/staff/changePassword}"
                            >Đổi mật khẩu</a
                            >
                        </li>
                        <li>
                            <a
                                    class="dropdown-item text-dark"
                                    href="#"
                                    th:href="@{/logout}"
                            >Đăng xuất</a
                            >
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="d-flex justify-content-center">
    <a href="/staffFilter?workStatus=default" class="btn btn-primary">Tất cả</a>
    <a href="/staffFilter?workStatus=đang sửa chữa" class="btn btn-primary">Đang sửa chữa</a>
    <a href="/staffFilter?workStatus=đã hoàn thành" class="btn btn-primary">Đã hoàn thành</a>
    <a href="/staffFilter?workStatus=quá thời hạn" class="btn btn-primary">Quá thời hạn</a>
</div>
<div class="container my-5">
    <h2 class="text-center mb-4">Danh sách công việc được giao</h2>
    <div class="shadow p-3 mb-5 bg-body rounded">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Ngày</th>
                    <th>Phòng</th>
                    <th>Họ và tên người ở</th>
                    <th>Các chức năng</th>
                    <th>Trạng thái công việc</th>
                    <th>Ngày hoàn thành</th>
                    <th>Ngày hạn công việc phải hoàn thành</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:unless="${filtered == true}">
                    <tr th:each="assignedTask : ${assignedWorkList}">
                        <td >
                            <span th:text="${assignedTask.dateReported()}"></span>
                        </td>
                        <td >
                            <span th:text="${assignedTask.roomNumber()}"></span>
                        </td>
                        <td th:text="${assignedTask.residentFullName()}"></td>
                        <td>
                            <a th:href="@{/staff/viewWork/{id}(id=${assignedTask.issueId()})}" class="btn btn-primary">Xem Chi Tiết</a>
                        </td>
                        <td>
                            <span  th:classappend="${assignedTask.workStatus().equalsIgnoreCase('quá thời hạn')? 'badge bg-danger' : (assignedTask.workStatus().equalsIgnoreCase('đang sửa chữa')? 'badge bg-warning':'badge bg-success')}"
                                   th:text="${assignedTask.workStatus()}"></span>
                            </td>
                        <td >
                            <span th:text="${assignedTask.completedDate()}"></span>
                        </td>
                        <td >
                            <span th:text="${assignedTask.deadlineDate()}"></span>
                        </td>
                    </tr>
                </th:block>
                <th:block th:if="${filtered == true}">
                    <tr th:each="assignedTask : ${filteredAssignedWorkList}">
                        <td >
                            <span th:text="${assignedTask.dateReported()}"></span>
                        </td>
                        <td >
                            <span th:text="${assignedTask.roomNumber()}"></span>
                        </td>
                        <td >
                            <span th:text="${assignedTask.residentFullName()}"></span>
                        </td>
                        <td>
                            <a th:href="@{/staff/viewWork/{id}(id=${assignedTask.issueId()})}" class="btn btn-primary">Xem Chi Tiết</a>
                        </td>
                   <td >
                       <span  th:classappend="${assignedTask.workStatus().equalsIgnoreCase('quá thời hạn')? 'badge bg-danger' : (assignedTask.workStatus().equalsIgnoreCase('đang sửa chữa')? 'badge bg-warning':'badge bg-success')}"
                              th:text="${assignedTask.workStatus()}"></span>
                    </td>
                        <td >
                            <span th:text="${assignedTask.completedDate()}"></span>
                        </td>
                        <td>
                            <span  th:text="${assignedTask.deadlineDate()}"></span>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer class="text-center py-3 bg-dark text-white fixed-bottom">
    &copy; 2023 Maintenance System. All rights reserved.
</footer>
</body>
</html>
