<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Trang quản lý nhân viên</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .navbar-custom {
            background-color: #ffc107 !important;
        }

        .navbar-custom .navbar-brand {
            height: 50px;
            width: auto;
            margin-right: 10px;
            color: black;
        }

        .footer {
            background-color: black;
            color: white;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: center;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
            <h1> Maintenance System </h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class=" collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto ">

                <li class="nav-item">
                    <a class="nav-link mx-2 text-dark" href="#" th:href="@{/staffList}">Quản lý nhân viên</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 text-dark" href="#" th:href="@{/residentReportedIssues}">Báo cáo của người ở
                        chung
                        cư</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link mx-2 dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink"
                       role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Tài khoản của bạn
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item text-dark" href="#">Tài khoản</a></li>
                        <li><a class="dropdown-item text-dark" th:href="@{/homePages/managerHomePage/changePassword}">Đổi
                            mật
                            khẩu</a></li>
                        <li><a class="dropdown-item text-dark" href="#" th:href="@{/logout}">Đăng xuất</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br/>

<div class="container">
    <h1>Tạo nhân viên mới</h1>
    <form th:action="/createStaff" th:object="${newStaff}" method="post">
        <div class="mb-3">
            <label for="staffName">Họ và tên: </label>
            <input type="text" th:field="*{fullname}" class="form-control"
                   id="staffName" name="staffName">
        </div>
        <div class="mb-3">
            <label for="dateOfBirth">Ngày sinh: </label>
            <input type="date" id="dateOfBirth"
                   name="dateOfBirth" class="form-control">
        </div>
        <div class="mb-3">
            <label for="staffEmail">Email: </label>
            <input type="text" id="staffEmail" name="staffName"
                   th:field="*{email}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="staffPhoneNum">Số điện thoại: </label>
            <input type="text" th:field="*{phoneNumber}" class="form-control"
                   id="staffPhoneNum" name="staffPhoneNum">
        </div>
        <div class="mb-3">
            <label for="floor">Tầng để quản lý: </label>
            <select id="floor" name="floor" class="form-select" th:field="">
                <option value="0" selected disabled>Chọn số tầng</option>
                <option th:each="floor : ${floors}" th:value="${floor.floorId}" th:text="${floor.floorName}"></option>
            </select>
        </div>
        <button type="submit" class="btn-primary">Tạo nhân viên</button>
    </form>
</div>

<footer class="text-center py-3 footer">
    &copy; 2023 Maintainance System. All rights reserved.
</footer>
</body>
</html>
